<div class="row">
  <div class="col-sm">
    <h2>ChessFun</h2>
    <h6>Enjoy a nice chess match</h6>
    <div class="card">
    <div class="card-body">
      <form [formGroup]="form" autocomplete="off">
        <div class="form-group">
          <label for="userName">Username</label>
          <input type="text" class="form-control" formControlName="userName" id="userName">
        </div>
        <button type="button" class="btn btn-primary" (click)="playGame()">Play</button>
      </form>
    </div>
    </div>
    <br/>
    <h6>Watch a game:</h6>
    <div class="list-group">
      <a *ngFor="let match of matchList" href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">{{match.getPlayersName()}}<span class="badge badge-primary badge-pill">{{match.getViewersTotal()}}</span></a>
    </div>
  </div>
</div>